params {
    // parent directory for all sctapas ouputs
    outdir       = null
    // conda environment, set using path
    // set to conda_env to use conda instead of modules for sctapas_env
    conda_env        = null   
    quilt2_conda_env = null
    // resources for slurm
    default_cpus         = 4
    default_queue        = 'short'
    // quilt2 requires more resources and can fail if memory is insufficient
    quilt2_cpus          = 8
    // start with this many GBs
    quilt2_memory_base_gb = 160
    // add this many GBs on retry
    quilt2_memory_step_gb = 24
    // maximum number of retries
    quilt2_max_retries   = 3
    // quilt2 inputs
    // bam_pattern should expand to list of sample-wise bam files to impute
    bam_pattern         = null
    // awk to extract sample name from each bam path
    // by default just strip directory and .bam extension
    sample_name_awk = 'BEGIN{FS="/"} {name=$NF; sub(/\\.bam$/,"",name); print name}'
    // num_chrs must be set true if bams use numerical chr names 1, 2, ... rather than chr1, chr2, ...
    num_chrs            = false
    // path to genetic map file downloaded from QUILT2 GitHub
    // for scTAPAS_CHROMS or scTAPAS_AUTO use "CHROM" as placeholder for chromosome
    genetic_map_pattern = null
    // path to whole genome sequencing file from 1000 genomes for relevant chromosome (chr6 for MHC)
    // for scTAPAS_CHROMS or scTAPAS_AUTO use "CHROM" as placeholder for chromosome
    thouG_vcf_pattern   = null
    // ref_fasta: reference genome in hg38 fasta format, used by QUILT2
    ref_fasta       = null
    // scTAPAS_MHC params 
    // mhc_from: start of mhc region in hg38 bp (also used by AncestryInference)
    mhc_from     = 28000000
    // mhc_to: end of mhc region in hg38 bp (also used by AncestryInference)
    mhc_to       = 34000000
    // ExtractMHC parameters
    mhc_ref_panel_vars    = null
    // scTAPAS_REGION params
    region_from  = null
    region_to    = null
    // scTAPAS_CHROM params
    // chrom: chromosome to run, should match chromosome numbering in bam file (used in scTAPAS_CHROM only)
    chrom               = "chr6"
    // scTAPAS_CHROMS params
    // chroms: chromosome to run, should match chromosome numbering in bam file and be passed in params.yaml (used in scTAPAS_CHROMS)
    chroms              = null
    // choose to run extra pipelines in main scTAPAS run
    // prep_mhc_imp: extract MHC region for HLA imputation
    prep_mhc_imp          = false
    // infer_ancestry: infer ancestry using scTAPAS genotypes and 1000 Genomes Project samples
    infer_ancestry   = false
    // run_tensorqtl: run eQTL analysis using tensorqtl with scTAPAS genotypes
    run_tensorqtl    = false
    // scTAPAS AncestryInference, TensorQTL, ExtractMHC may be run as standalone pipelines
    // scTAPAS output vcf used in standalone pipelines
    vcf          = null
    // AncestryInference params
    // onek_gen_patt: 1000G genotypes file pattern - file path without .pvar .psam .pgen extensions
    onek_gen_patt = null
    // onek_rel_sams: samples to remove from 1000G due to relatedness
    onek_rel_sams = null
    // pcs_to_use: Genetic principal components to use to infer ancestry from scTAPAS projected onto 1000G PCs
    pcs_to_use               = 10
    // TensorQTL
    // set list of identifiers in params.yaml
    identifiers        = null
    // pseudobulk_pattern: path to gene expression pseudobulks in .bed.gz format (bgzipped), where IDENTIFIER to be used as placeholder for each of the identifiers
    pseudobulk_pattern = null
    // covariates_pattern: path to covariates for eQTL analysis, where IDENTIFIER can be used as placeholder for each of the identifiers if using identifier-specific covariates
    covariates_pattern = null
    // qval_lambda: used by tensorqtl, recommended value for single-chromosome runs
    qval_lambda        = 0.85
    // n_pcs_tqtl: number of scTAPAS principal components to be added to covariates
    n_pcs_tqtl               = 2
    // insert_position_pcs_tqtl: position in covariates file at which scTAPAS principal components to be added to covariates
    insert_position_pcs_tqtl = 2
    // scTAPAS TCRQTLs can only be run as standalone pipeline
    // hla_vcf result from HLA imputation of scTAPAS output vcf on Michigan Imputation Server
    hla_vcf      = null
    // TCRQTL parameters
    // path to TCR data in tabular format
    tcr_path         = null
    // path to covariates to use for TCRQTLs, requires #IID and #FID columns both matching sample IDs
    tcr_covs         = null
    // anndata object including cell annotations of profiled cells matching TCR data
    anndata               = null
    // set subset options nested list in params.yaml
    subset_options   = null
    // sample_id_col_name: column in TCR table indicating sample names
    sample_id_col_name = null
    // clone_id_col_name: column in TCR table indicating T cell clone IDs
    clone_id_col_name  = null
    // min_cln: minimum number of clones with V gene for sample to be included in model
    min_cln          = 5
    // min_obs_prop_tcr: minimum proportion of samples where a V gene is observed for the V gene usage to be modelled
    min_obs_prop_tcr = 0.05
    // glm_ci: confidence interval to calculate in PLINK GLM
    glm_ci           = 0.95
    // tcr_barcode_col_name: name of column in TCR data indicating cell barcodes, used to match cell annotations in anndata
    tcr_barcode_col_name  = "barcode_id"
    // ab_col_name: TCR table column used to identify single alpha beta T cells
    ab_col_name           = "chain_composition"
    ab_col_value          = "double_alpha_beta"
    // rem_pub_tcr_mplex_arts: whether to remove likely artifactual public TCRs as a result of multiplexing from TCR data
    rem_pub_tcr_mplex_arts = false
    // pool_id_col_name: name of TCR table column name indicating pool in which sample is included
    pool_id_col_name       = "pool"
    // names of TCR identifiers: V gene, nucleotide CDR3, J gene of alpha and beta chains respectively, used to identify likely artifactual public TCRs
    trav_name              = "v_gene_TRA"
    cdr3a_nt_name          = "cdr3_nt_TRA"
    traj_name              = "j_gene_TRA"
    trbv_name              = "v_gene_TRB"
    cdr3b_nt_name          = "cdr3_nt_TRB"
    trbj_name              = "j_gene_TRB"
    }

env {
    SCTAPAS_PYTHON = "${projectDir.parent}/python"
}

profiles {
    local {
        process.executor = 'local'
        process.queue    = null
    }
}

conda.enabled = true

process {
    executor = 'slurm'
    queue    = params.default_queue
    cpus     = params.default_cpus
    withLabel: 'sctapas_env' {
        conda  = params.conda_env ?: null
        module = params.conda_env ? '' : 'BCFtools/1.18-GCC-12.3.0:PLINK/2.00a3.7-gfbf-2023a'
    }
    withLabel: 'quilt2_env' {
        conda = params.quilt2_conda_env
    }
    withName: QUILT2 {
        errorStrategy = 'retry'
        cpus          = params.quilt2_cpus
        memory        = { (params.quilt2_memory_base_gb + params.quilt2_memory_step_gb * (task.attempt - 1)).GB }
        maxRetries    = params.quilt2_max_retries
    }
}